.container{
	border : solid 0px black;
}

.row{
	border : solid 0px red;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12{
	border : solid 0px green;
}

.myCLASS{
	min-height 	: 400px;
}

.red{
	background:red;
}